@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    user-select: none;
}

.bgimage{
    background:url('bg8.jpg');
    background-size:cover;
}

.loginButton{
    background-image: linear-gradient(to left bottom,rgb(56, 231, 214) ,rgba(111, 11, 211, 0.903));
}

.loginForm{
    box-shadow: 0 0 5px rgba(134, 131, 131, 0.629);
}

#signInText{
    background: linear-gradient(to left ,rgba(71, 5, 147, 0.903) 38%,rgb(56, 231, 214) 70%);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-bottom: 20px;
}

.msgBtn{
    background: linear-gradient(to left top,rgba(71, 5, 147, 0.803) ,rgba(56, 231, 214, 0.723) );
}

.overFlow::-webkit-scrollbar{
    display: none;
}

body::-webkit-scrollbar{
    display: none;
}

.sendBtn,.savechange{
    background: linear-gradient(to left top,rgba(71, 5, 147, 0.903) ,rgb(56, 231, 214) );
}

.gradient{
    background: linear-gradient(to left top,rgba(71, 5, 147, 0.649) ,rgba(56, 231, 214, 0.615) );
}

.bg {
    background: url('../src/assets/img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}

.bgimage2{
    background:url('p8.jpg');
    background-size: cover;
}

.bgEdit{
    background:url('bg5.jpg');
    background-size: cover;
}

.bio-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.read-more-btn {
    color: rgb(128, 128, 128);
    padding-block: 5px;
    cursor: pointer;
}


@media(max-width:768px){
    .bgEdit{
        background:rgb(190, 235, 255,0.2);
    }
}

